/* Empty. Add your own CSS if you like */
.text-center {
	text-align:center;
}
.no-padding {
	padding:0 !important;
}
.padding-updown {
	padding-top:10px;
	padding-bottom:10px;
}
.no-side-padding {
	padding-left:0px;
	padding-right:0px;
}
